@media only screen and (max-width:600px) {
    .divnav1{
        flex-direction: column;
    }
    .divnav1 .divnav2{
        flex-direction: column;
    }
    .divnav1 .divnav2 .buscadores ul{
        flex-direction: column;
    }
    .divnav1 .boton{
        flex-direction: column;
    }
    .divnav1 .boton{
        display: none;
    }
    .parte1{
        flex-direction: column;
        margin-top: 33%;
    }
    .parte1 .parte1text{
        width: 80%;
        margin: 0px;
        
    }
    .parte1 .parte1imagen{
        width: 100%;
    }
    .parte1 .parte1imagen .img1parte1{
        display: none;
    }
    .parte1 .parte1imagen .img2parte1{
        display: block;
    }
    .parte1 .parte1imagen .img2parte1{
        animation-name: imagen2;
        animation-duration: 4s;
        animation-delay: 1s;
    }
    @keyframes imagen2 {
        from{transform: translateX(50%);}
        to{transform:translateX(0%);}
    }
    .parte2{
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin: 75% 0%;
    }
    .parte2 .contparte2{
        width: 80%;
        padding: 80px 0px;
    }
    .parte2 .flex-end{
        align-self: auto;
    }
    .parte3{
        flex-direction: column;

    }
    .parte3 .contparte3{
        width: 100%;
        border-radius: 200px 0px 0px 0px;
        transform: scaleX(-1);
        margin-bottom: -7px;
    }
    .parte3 .contparte3 .textoparte3{
        transform: scaleX(-1);
    }
    .parte3 .contparte3 .textoparte3 h2{
        font-size: 50px;
    }
    .parte3 .contparte3 .textoparte3 h6, .parte3 .contparte3 .textoparte3 p{
        font-size: 17px;
    }
    .parte4{
        flex-direction: column;
        background:#0F1320;
    }
    .parte4 .q1, .q2, .q3, .q4{
        width: 100%;
        margin: 0px;
    }

    .parte5{
        flex-direction: column;
    }
    .parte5 .textoparte5{
        order: 2;
        width: 100%;
    }
    .parte5 .textoparte5 div{
        flex-direction: column;
        align-items: flex-start;
        margin-top: 5%;
    }
    .parte5 .imagenparte5{
        width: 100%;
    }
    .parte5 .textoparte5 .tituloparte5 .logoimg{
        animation-name: imagen5;
        animation-duration: 3s;
    }
    @keyframes imagen5 {
        from{transform: translateX(-100%);}
        to{transform:translateX(0%);}
    }

    .parte6{
        width: 100%;
        background: #0F1320;
        background-image: url(../parte6/fondocel.png);
        background-repeat: no-repeat;
        background-size: 100% 90%;
    }
    .parte6 .contenidoparte6 .contparte6 .tarjeta1, .tarjeta2, .tarjeta3{
        display: none;
    }
    .parte6 .tituloparte6 h2{
        margin-top: 25%;
    }
    .parte6 .contenidoparte6 .contparte6 {
        justify-self: unset;
    }
    .parte6 .contenidoparte6 .contparte6 .tarjeta2{
        display: block;
        align-self: flex-start;
        padding: 25% 27%;
    }

    .parte7 .tituloparte7 h2{
        padding-bottom: 47%;
    }
    .parte7 .contenidoparte7{
        flex-direction: column;
        align-items: center;
    }
    .imagen1parte7, .imagen2parte7{
        display: none;
    }
    .parte7 .contenidoparte7 div{
        width: 90%;
    }
    .parte7 .contenidoparte7 .bajar7{
        align-self: normal;
        margin-left: 5%;
    }

    .piedepagina{
        margin-top: 10%;
    }
    .piedepagina .buspiedepagina{
        display: none;
    }
    .piedepagina .contenidopiedepagina{
        flex-direction: column;
        justify-content: center;
        padding-top: 39%;
        align-items: center;
        gap: 15px;
    }
    .piedepagina .contenidopiedepagina .textopiedepagina{
        text-align: center;
    }
    .fondoul{
        background: #0F1320;
    }
}